{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Create a Quote</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Section 1: General Quote Details -->
        <h4>General Quote Details</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label for="id_quote_num" class="form-label">Quote Number</label>
                {{ form.quote_num|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_name" class="form-label">Product Name</label>
                {{ form.name|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_customer_name" class="form-label">Customer Name</label>
                {{ form.customer_name|add_class:"form-control" }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label for="id_vendor" class="form-label">Vendor</label>
                {{ form.vendor|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_vendor_part_number" class="form-label">Vendor Part Number</label>
                {{ form.vendor_part_number|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_sales_rep" class="form-label">Salesperson</label>
                {{ form.sales_rep|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 2: Product Information -->
        <h4>Product Information</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label for="id_category" class="form-label">Product Category</label>
                {{ form.category|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label class="form-label">Vendor</label>
                {{ form.vendor_ref|add_class:"form-select" }}
            </div>
            <div class="col-md-4">
                <label for="id_image" class="form-label">Product Image</label>
                {{ form.image }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-8">
                <label class="form-label fw-bold">HTS Code</label>
                {{ form.hts_code|add_class:"form-select" }}
                <div class="form-text text-muted" id="hts-summary"></div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label for="id_moq" class="form-label">Minimum Order Quantity (MOQ)</label>
                {{ form.moq|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_package" class="form-label">Package Type</label>
                {{ form.package|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_production_time" class="form-label">Production Time</label>
                {{ form.production_time|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 3: Master Carton Information -->
        <h4>Master Carton Information</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-3">
                <label for="id_carton_qty" class="form-label">Carton Quantity</label>
                {{ form.carton_qty|add_class:"form-control" }}
            </div>
            <div class="col-md-3">
                <label for="id_carton_weight" class="form-label">Carton Weight (kg)</label>
                {{ form.carton_weight|add_class:"form-control" }}
            </div>
            <div class="col-md-2">
                <label for="id_carton_width" class="form-label">Width (cm)</label>
                {{ form.carton_width|add_class:"form-control" }}
            </div>
            <div class="col-md-2">
                <label for="id_carton_length" class="form-label">Length (cm)</label>
                {{ form.carton_length|add_class:"form-control" }}
            </div>
            <div class="col-md-2">
                <label for="id_carton_height" class="form-label">Height (cm)</label>
                {{ form.carton_height|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 4: Imprint Information -->
        <h4>Imprint Information</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="id_imprint_location" class="form-label">Imprint Location</label>
                {{ form.imprint_location|add_class:"form-control" }}
            </div>
            <div class="col-md-3">
                <label for="id_imprint_method" class="form-label">Imprint Method</label>
                {{ form.imprint_method|add_class:"form-control" }}
            </div>
            <div class="col-md-3">
                <label for="id_imprint_dimension" class="form-label">Imprint Dimensions</label>
                {{ form.imprint_dimension|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 5: Freight, Tariff and Imprintn -->
        <h4>Freight Tariff and Imprint Costs</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-2">
                <label for="id_duty_percent" class="form-label">Duty Rate</label>
                {{ form.duty_percent|add_class:"form-control" }}
            </div>
            <div class="col-md-2">
                <label for="id_tariff_percent" class="form-label">Tariff Rate</label>
                {{ form.tariff_percent|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_imprint_cost" class="form-label">Imprint Cost</label>
                {{ form.imprint_cost|add_class:"form-control" }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="id_air_freight" class="form-label">Air Freight</label>
                {{ form.air_freight|add_class:"form-control" }}
            </div>

            <div class="col-md-6">
                <label for="id_ocean_freight" class="form-label">Ocean Freight</label>
                {{ form.ocean_freight|add_class:"form-control" }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="id_air_transit_time" class="form-label">Air Transit Time</label>
                {{ form.air_transit_time|add_class:"form-control" }}
            </div>

            <div class="col-md-6">
                <label for="id_ocean_transit_time" class="form-label">Ocean Transit Time</label>
                {{ form.ocean_transit_time|add_class:"form-control" }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <label for="id_notes" class="form-label">Notes</label>
                {{ form.notes|add_class:"form-control" }}
            </div>
        </div>
        

       <!-- Section 5A: Quantities Information -->
        <h4>Quantities</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-2">
                <label for="id_quantity1" class="form-label">Quantity1</label>
                {{ form.quantity1|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_quantity2" class="form-label">Quantity2</label>
                {{ form.quantity2|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_quantity3" class="form-label">Quantity3</label>
                {{ form.quantity3|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_quantity4" class="form-label">Quantity4</label>
                {{ form.quantity4|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_quantity5" class="form-label">Quantity5</label>
                {{ form.quantity5|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 5A: Cost Information -->
        <h4 class="text-danger">Costs</h4>
        <div class="row g-3 mb-3" "text-danger">
            <div class="col-md-2">
                <label for="id_qty1_cost" class="form-label text-danger">Cost (Q1)</label>
                {{ form.qty1_cost|add_class:"form-control" }}
            </div>    
            <div class="col-md-2">
                <label for="id_qty2_cost" class="form-label text-danger">Cost (Q2)</label>
                {{ form.qty2_cost|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty3_cost" class="form-label text-danger">Cost (Q3)</label>
                {{ form.qty3_cost|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty4_cost" class="form-label text-danger">Cost (Q4)</label>
                {{ form.qty4_cost|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty5_cost" class="form-label text-danger">Cost (Q5)</label>
                {{ form.qty5_cost|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 5B: Price via Air -->
        <h4 class="text-success">Price via Air</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-2">
                <label for="id_qty1_price_air" class="form-label text-success">Sell Price Air (Q1)</label>
                {{ form.qty1_price_air|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty2_price_air" class="form-label text-success">Sell Price Air (Q2)</label>
                {{ form.qty2_price_air|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty3_price_air" class="form-label text-success">Sell Price Air (Q3)</label>
                {{ form.qty3_price_air|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty4_price_air" class="form-label text-success">Sell Price Air (Q4)</label>
                {{ form.qty4_price_air|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty5_price_air" class="form-label text-success">Sell Price Air (Q5)</label>
                {{ form.qty5_price_air|add_class:"form-control" }}
            </div>
        </div>

        <!-- Section 5C: Price via Ocean -->
        <h4 class="text-info">Price via Ocean</h4>
        <div class="row g-3 mb-3">
            <div class="col-md-2">
                <label for="id_qty1_price_ocean" class="form-label text-info">Sell Price Ocean (Q1)</label>
                {{ form.qty1_price_ocean|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty2_price_ocean" class="form-label text-info">Sell Price Ocean (Q2)</label>
                {{ form.qty2_price_ocean|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty3_price_ocean" class="form-label text-info">Sell Price Ocean (Q3)</label>
                {{ form.qty3_price_ocean|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty4_price_ocean" class="form-label text-info">Sell Price Ocean (Q4)</label>
                {{ form.qty4_price_ocean|add_class:"form-control" }}
            </div>

            <div class="col-md-2">
                <label for="id_qty5_price_ocean" class="form-label text-info">Sell Price Ocean (Q5)</label>
                {{ form.qty5_price_ocean|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label for="id_status" class="form-label">Status</label>
                {{ form.status|add_class:"form-select" }}
            </div>
        <!-- Submit Button -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
    </form>
</div>

<script>
const htsData = {{ hts_data|safe }};
const htsSelect = document.getElementById('id_hts_code');
const htsSummary = document.getElementById('hts-summary');

htsSelect.addEventListener('change', function() {
    const pk = this.value;
    if (pk && htsData[pk]) {
        const h = htsData[pk];
        document.getElementById('id_duty_percent').value = h.duty;
        document.getElementById('id_tariff_percent').value = h.section301;
        htsSummary.textContent = `Duty: ${h.duty}% | Section 301: ${h.section301}% | Extra (RT): ${h.extra}% | Total: ${h.total}%`;
    } else {
        htsSummary.textContent = '';
    }
});
</script>
{% endblock %}
